<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head.ejs")%>
    <title>Rarity</title>
  </head>
  <%if (isLoggedIn) { %> <%- include("logoutheader.ejs")%> <%} else { %> <%-
  include("header.ejs")%> <% } %>
  <body>
      <% collections.forEach(function(result) { %>
        <%- include("product-group",{name:result.name, average_price:result.average_price, nfts: result.nfts})%>
      <% }); %>
    <hr />
    <%- include('footer.ejs') %>
    <script src="../scripts/menu-drop.js"></script>
  </body>
</html>
