<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product</title>
    <%-include("head.ejs")%>
  </head>
  <body>
    <%- include("logoutheader.ejs") %>
    <div class="nft-product">
      <div class="nft-head">
        <h1 class="nft-name"><%= nft.name%></h1>
        <div class="nft-price">
          <p><%= nft.price%></p>
          <div>
            <img class="cardano-logo" src="../images/cardano-logo.png" alt="" />
          </div>
        </div>
      </div>

      <img class="nft-image" src="<%= nft.url%>" alt="" />
      <h1 id="price-usd"></h1>
    </div>
    <div class="buy-container">
      <button>Buy</button>
    </div>
    <%- include("footer.ejs") %>
    <script src="../scripts/nftgetprice.js"></script>
    <script>
        let priceinada = '<%- JSON.stringify(nft.price) %>';
        fetchNftPrice(Number(priceinada)).then(
          data =>{
            document.getElementById("price-usd").innerHTML = "$ "+data ;
          }
        )
        .catch(e => {
          console.log("Failed to fetch nftPrice", e);
        });
        
    </script>
  </body>
</html>
