<div>
    <div class="category">
      <h2 class="collection-title"><%= name%></h2>
      <div class="price">
        <p><%= average_price%> ADA</p>
        <img src="../images/cardano-logo.png" alt="" />
      </div>
    </div>
    <div class="grid-container">
      <img class="grid-item1" src="<%= url1 %>" alt="" />
      <img class="grid-item2" src="<%= url2 %>" alt="" />
      <img class="grid-item3" src="<%= url3 %>" alt="" />
      <img class="grid-item4" src="<%= url4 %>" alt="" />
      <img class="grid-item5" src="<%= url5 %>" alt="" />
    </div>
  </div>
  <div class="buy-container">
    <input type="text" placeholder="Enter Wallet" />
    <button>Buy</button>
  </div>