<div>
    <div class="category">
      <h2 class="collection-title"><%= name%></h2>
      <div class="price">
        <p><%= average_price%> ADA</p>
        <img src="../images/cardano-logo.png" alt="" />
      </div>
    </div>
    <div class="grid-container">
    <% let i=1; nfts.forEach(function(nft) { %>
        <a class="grid-item<%= i%>" href="/nft/<%= nft._id%>"><img class="grid-item<%= i%>" src="<%= nft.url%>" alt="" /></a>
        <%i++;%>
    <% }); %>
    </div>
  </div>
  <div class="buy-container">
    <input type="text" placeholder="Enter Wallet" />
    <button>Buy</button>
  </div>