<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs")%>
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profileStyle.css">
</head>
<body>
    <%- include("logoutheader.ejs")%>
    <h1>Hello <%= username%> </h1>
    <h2>My NFTs For Sale</h2>
    <div style="display: flex; flex-wrap:wrap;">
    <% nfts.forEach(function(nft) { %>
    <%- include("userNft",{nft: nft})%>
    <% }); %>
    </div>
    <%- include("footer.ejs")%>
</body>
</html>

<script src="../scripts/profile.js"></script>