<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs")%>
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profileStyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("logoutheader.ejs")%>
    <h1>Hello <%= username%> <br><hr> <%= balance%> ADA </h1>
    <h2>My NFTs</h2>
    <div style="display: flex; flex-wrap:wrap;">
    <% nfts.forEach(function(nft) { %>
    <%- include("userNft",{nft: nft})%>
    <% }); %>
    </div>
    <%- include("footer.ejs")%>
</body>
</html>

<script src="../scripts/profile.js"></script>