    <div class="nft-product" style="margin: 10px; flex:45%" id="<%= nft._id %>">
        <div class="nft-head">
            <h1 class="nft-name"><%= nft.nftName%></h1>
            <div class="nft-price">
                <p><%= nft.nftPrice%></p>
                <div>
                    <img class="cardano-logo" src="../images/cardano-logo.png" alt="" />
                </div>
            </div>
        </div>

        <img class="nft-image-user" src="<%= nft.url%>" alt=""/>
        <div>
            <p><%= nft.nftDesc%></p>
        </div>
            <div class="buy-container">
                <button style="margin-right: 10px" onclick="RemoveNFT('<%= nft._id %>')">Delete</button>
                <button style="margin-right: 10px" onclick="Edit('<%= nft._id %>f')">Edit</button>
                <% if(nft.listed != "True") { %>
                    <button id="'<%= nft._id %>'button" onclick="List('<%= nft._id %>')">List</button>
                    <%}%>
            </div>
            <div class="editItemDiv" id="<%= nft._id %>f" style="display: none;">
                <form action="/editUserNFT" method="post">
                    <div class="editName">
                        <label for="nftName">NFT name: </label><input class="edit-feild" type="text" name="nftName" id="editNameInput">
                    </div>
                    <div class="editPrice">
                        <label for="nftPrice">NFT price: </label><input class="edit-feild" type="number" name="nftPrice" id="editPriceInput">
                    </div>
                    <div class="editDesc">
                        <label for="nftDesc">NFT Description: </label><textarea class="edit-feild" name="nftDesc" id="editDescInput" cols="21" rows="5"></textarea>
                    </div>
                    <input type="hidden" name="nftID" value="<%= nft._id %>">
                    <button type="submit" value="Submit" id="Submit" style="float:right; border-radius: 5px; border: none;">Submit</button>
                </form>
            </div>
    </div>

